.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.header__conteiner {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ECECEC;
}